prefix = "mz-dev"

# materialize_instances = [
#   {
#     name                              = "analytics"
#     namespace                         = "materialize-environment"
#     database_name                     = "analytics_db"
#     cpu_request                       = "1"
#     memory_request                    = "1Gi"
#     memory_limit                      = "1Gi"
#     create_database                   = true
#     authenticator_kind                = "Password"
#     external_login_password_mz_system = random_password.analytics_mz_system.result
#     license_key                       = "[...]"
#   },
#   {
#     name                    = "demo"
#     namespace               = "materialize-environment"
#     database_name           = "demo_db"
#     cpu_request             = "1"
#     memory_request          = "1Gi"
#     memory_limit            = "1Gi"
#     license_key             = "[...]"
#   }
# ]
